body, input {
	font-size: 13px;
	font-family: Helvetica, Arial, sans-serif;
}
h1 {
	margin-bottom: 0;
}
form {
	display: table;
	border-spacing: 5px;
}
form p {
	display: table-row;
}
form label {
	display: table-cell;
	text-align: right;
}
form input {
	padding: 5px 10px;
	display: table-cell;
}
p.button {
	text-align: right;
}
span.comment {
	font-size: 80%;
	color: #777777;
}
span.tags {
	font-size: 80%;
	color: rgb(48, 99, 170);
}
.movement-links {
	margin-top: 0;
	font-size: .75em;
}
.movement-links a {
	padding-right: 10px;
}
p.alert {
	position: relative;
	color: white;
	background-color: white;
	opacity: 1;
	margin: 3px;
	padding: 3px;
	width: 50%;
	min-width: 300px;
}
#suggestion-drop-down {
	border: 1px solid rgb(238, 238, 238);
	border-top: none;
	background-color: white;
	width: 239px;
	position: absolute;
}
#suggestion-drop-down ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
#suggestion-drop-down li {
	line-height: 22px;
	padding: 5px 10px;
}
#suggestion-drop-down li:hover {
	background-color: #eee;
}